<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="JokerDbContext" connectionString="Server=211.159.157.37;Initial Catalog=HMEMS;User ID=HMEMS;Password=Hmems-123" providerName="System.Data.SqlClient" />  
  <!--<add name="JokerDbContext" connectionString="Server=60.29.3.61;Initial Catalog=HMEMS;User ID=HMEMS;Password=Hmems-123" providerName="System.Data.SqlClient" />-->
</connectionStrings>